

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav>* {
  padding: 5px 15px;
  margin: 10px 5px;
}
h2 {
  text-align: center;
  margin: 30px;
}

li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;
}